<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/admin/acceuil.css">
    <link rel="stylesheet" href="../css/admin/loader.css">

    <title>acceuil</title>
</head>

<body>
    <%- include("../components/admin/loader.ejs") %>

    <%- include("../components/admin/nav.ejs",{acceuil:"active",Categories:"",produits:"",settings:"",marques:"",commandes:""})
        %>
        <main>

            <%- include("../components/admin/header.ejs",{acceuil:"active",Categories:"",produits:"",settings:"",marques:"",commandes:""})
                %>
                <% if ( typeof msg !='undefined' ) { %>
                    <div class="alert <%= type %>">
                        <div class="msg">
                            <%= msg %>
                        </div>
                        <div class="close-btn">
                            <i class="fa fa-times"></i>
                        </div>
                    </div>
                    <% } %>
                        <section id="dashboard">
                            <div class="title">Aperçu analytique</div>
                            <div class="container-dashboard">
                                <div class="card-ov">
                                    <div class="icon">
                                        <svg style="enable-background:new 0 0 512 512;" version="1.1"
                                            viewBox="0 0 512 512" xml:space="preserve"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <style type="text/css">
                                                .st0 {
                                                    display: none;
                                                    fill: #FEFEFE;
                                                }
                                            </style>
                                            <g id="Layer_1"></g>
                                            <g id="Layer_2">
                                                <g>
                                                    <path class="st0"
                                                        d="M512.4,512.4c-170.7,0-341.3,0-512,0c0-170.7,0-341.3,0-512c170.7,0,341.3,0,512,0    C512.4,171.1,512.4,341.8,512.4,512.4z">
                                                    </path>
                                                    <path
                                                        d="M256.1,251c-4.1-0.2-8.6-1-12.9-3c-44.3-20.3-88.6-40.4-132.9-60.7c-5.4-2.4-10.8-4.8-16-7.5c-1.3-0.7-2.5-1.4-3.7-2.2    c-5.1-3.5-6.4-8.6-5.6-14.4c0.3-2.6,2-4.5,3.9-6.2c1.6-1.4,3.5-2.5,5.5-3.3c4.9-1.7,9.5-4.1,14.2-6.2    c45.8-21,91.6-42.1,137.4-63.2c7.1-3.3,14.4-3.3,21.5,0c48.8,22.4,97.7,44.9,146.5,67.4c1.2,0.6,2.5,1.1,3.7,1.5    c2.9,1,5.6,2.5,7.8,4.7c2.3,2.3,3.4,5.2,3.2,8.5c-0.3,5.4-2.6,9.5-7.3,12.2c-2.9,1.7-5.9,3.1-8.9,4.5    c-47.3,21.6-94.7,43.2-142,64.9C265.7,250,260.8,250.9,256.1,251z">
                                                    </path>
                                                    <path
                                                        d="M135.6,227.3c3.3-0.1,6.4,0.7,9.4,2c16.2,7.3,32.4,14.5,48.6,21.8c19,8.6,38.1,17.2,57.1,25.8c1.2,0.6,2.4,1.1,3.6,1.8    c1.6,0.9,3.2,0.8,4.9,0c36-16.5,72.2-32.7,108.3-48.9c4.1-1.8,8.3-2.8,12.8-2.4c1.6,0.2,3.1,0.5,4.5,1.2    c11.5,5.4,22.9,11,34.6,16.1c8.1,3.5,9.4,10.5,7.1,17.4c-1.4,4.1-4.2,7-8.1,8.8c-49.1,22.3-98.3,44.6-147.4,66.9    c-1.9,0.9-3.7,1.8-5.6,2.5c-5.6,2.3-11.4,2.5-17,0c-51.1-23.1-102.2-46.3-153.2-69.6c-5.7-2.6-8.5-7.3-8.9-13.5    c-0.1-1.5-0.1-3,0.2-4.5c0.9-3.6,3.2-6.1,6.5-7.7c7.6-3.5,15.2-7.1,22.8-10.7c4-1.9,8-3.6,11.9-5.6    C130.2,227.7,132.9,227.2,135.6,227.3z">
                                                    </path>
                                                    <path
                                                        d="M135.6,316.9c3.3-0.1,6.4,0.7,9.5,2.1c17,7.6,34.1,15.2,51.1,22.9c18.3,8.2,36.6,16.5,54.9,24.8c1,0.5,2,1,3,1.5    c1.7,0.9,3.3,0.9,5.1,0.1c30.1-13.9,60.4-27.4,90.6-41c6.3-2.8,12.6-5.6,18.9-8.4c3.2-1.4,6.5-2.1,9.9-2c2.4,0.1,4.7,0.6,7,1.7    c11.3,5.4,22.6,10.6,33.9,15.9c0.7,0.3,1.4,0.6,2.1,1c3.6,2,5.5,5.1,5.7,9.2c0.4,8-3.8,13.5-9.6,16.1    c-50.8,23-101.6,46.1-152.5,69.2c-5.7,2.6-11.6,2.6-17.4,0c-50.8-23-101.6-46.2-152.5-69.2c-5.8-2.6-10.5-8.6-9.3-17.4    c0.5-4,3-6.7,6.6-8.4c6.8-3.2,13.5-6.3,20.3-9.5c4.9-2.3,9.8-4.5,14.6-6.9C130.2,317.4,132.8,316.9,135.6,316.9z">
                                                    </path>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="number">
                                        <%= typeof num !='undefined' ? num : '' %>
                                    </div>
                                    <div class="total">Totale Categories</div>
                                </div>

                                <div class="card-ov">
                                    <div class="icon">
                                        <svg class="s10" enable-background="new 0 0 48 48" id="Layer_4" version="1.1"
                                            viewBox="0 0 48 48" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g>
                                                <polygon
                                                    points="26.068,24.846 26.068,47.987 45.285,38.04 45.285,14.898  ">
                                                </polygon>
                                                <polygon
                                                    points="2.715,36.078 21.872,47.987 21.872,24.71 2.715,13.069  ">
                                                </polygon>
                                                <path
                                                    d="M23.497,0.013L4.89,9.571c0.04-0.054,19.08,12.026,19.08,12.026L43.188,11.38L23.497,0.013z">
                                                </path>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="number">
                                        <%= typeof num2 !='undefined' ? num2 : '' %>
                                    </div>
                                    <div class="total">Totale Produits</div>
                                </div>

                                <div class="card-ov">
                                    <div class="icon">
                                        <svg class="s10" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000"
                                            xml:space="preserve">
                                            <g>
                                                <path
                                                    d="M974.2,29.9c-5.5-15.4-22.9-23.6-38.8-18.2c-15.9,5.3-24.3,22.2-18.8,37.7c46.9,130.8-46.3,228.5-117.3,280.9l-28.8-39.9c-9.6-13.3-31.2-24.5-48-24.7l-161.1,0.7c-16.7-0.2-41.7,7.2-55.4,16.6L31.7,605.7c-23,15.6-28.6,46.4-12.5,68.7l215.7,299.3c16.1,22.3,41.9,19.6,64.9,4l474.5-322.8c13.7-9.4,29.4-29.6,35-45l50.4-154.2c5.5-15.4,2.2-38.9-7.5-52.3l-17.5-24.3C930.2,308.4,1029.2,183.1,974.2,29.9z M753.5,488.3c-36.8,25-87.5,16.3-113.2-19.4c-25.8-35.7-16.9-85,20-110c29.2-19.8,67.1-18.4,94.4,0.9c-13.7,8-23.2,12.6-24.9,13.5c-15.2,7-21.8,24.6-14.6,39.4c5.2,10.7,16.2,17,27.6,17c4.4,0,8.8-0.9,13-2.8c9.8-4.5,20.3-9.9,31.3-16.2C791.9,439.7,780,470.3,753.5,488.3z">
                                                </path>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="number"><%= typeof num3 !='undefined' ? num3 : '' %></div>
                                    <div class="total">Totale marques</div>
                                </div>

                            </div>
                        </section>
                        <section id="dahboard-description">
                            <div class="container-description">
                                <div class="card-desc-ui">
                                    <div class="top-sec">
                                        <div class="text">Categories</div>
                                        <div class="icon"><svg style="enable-background:new 0 0 512 512;" version="1.1"
                                                viewBox="0 0 512 512" xml:space="preserve"
                                                xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <style type="text/css">
                                                    .st0 {
                                                        display: none;
                                                        fill: #FEFEFE;
                                                    }
                                                </style>
                                                <g id="Layer_1"></g>
                                                <g id="Layer_2">
                                                    <g>
                                                        <path class="st0"
                                                            d="M512.4,512.4c-170.7,0-341.3,0-512,0c0-170.7,0-341.3,0-512c170.7,0,341.3,0,512,0    C512.4,171.1,512.4,341.8,512.4,512.4z">
                                                        </path>
                                                        <path
                                                            d="M256.1,251c-4.1-0.2-8.6-1-12.9-3c-44.3-20.3-88.6-40.4-132.9-60.7c-5.4-2.4-10.8-4.8-16-7.5c-1.3-0.7-2.5-1.4-3.7-2.2    c-5.1-3.5-6.4-8.6-5.6-14.4c0.3-2.6,2-4.5,3.9-6.2c1.6-1.4,3.5-2.5,5.5-3.3c4.9-1.7,9.5-4.1,14.2-6.2    c45.8-21,91.6-42.1,137.4-63.2c7.1-3.3,14.4-3.3,21.5,0c48.8,22.4,97.7,44.9,146.5,67.4c1.2,0.6,2.5,1.1,3.7,1.5    c2.9,1,5.6,2.5,7.8,4.7c2.3,2.3,3.4,5.2,3.2,8.5c-0.3,5.4-2.6,9.5-7.3,12.2c-2.9,1.7-5.9,3.1-8.9,4.5    c-47.3,21.6-94.7,43.2-142,64.9C265.7,250,260.8,250.9,256.1,251z">
                                                        </path>
                                                        <path
                                                            d="M135.6,227.3c3.3-0.1,6.4,0.7,9.4,2c16.2,7.3,32.4,14.5,48.6,21.8c19,8.6,38.1,17.2,57.1,25.8c1.2,0.6,2.4,1.1,3.6,1.8    c1.6,0.9,3.2,0.8,4.9,0c36-16.5,72.2-32.7,108.3-48.9c4.1-1.8,8.3-2.8,12.8-2.4c1.6,0.2,3.1,0.5,4.5,1.2    c11.5,5.4,22.9,11,34.6,16.1c8.1,3.5,9.4,10.5,7.1,17.4c-1.4,4.1-4.2,7-8.1,8.8c-49.1,22.3-98.3,44.6-147.4,66.9    c-1.9,0.9-3.7,1.8-5.6,2.5c-5.6,2.3-11.4,2.5-17,0c-51.1-23.1-102.2-46.3-153.2-69.6c-5.7-2.6-8.5-7.3-8.9-13.5    c-0.1-1.5-0.1-3,0.2-4.5c0.9-3.6,3.2-6.1,6.5-7.7c7.6-3.5,15.2-7.1,22.8-10.7c4-1.9,8-3.6,11.9-5.6    C130.2,227.7,132.9,227.2,135.6,227.3z">
                                                        </path>
                                                        <path
                                                            d="M135.6,316.9c3.3-0.1,6.4,0.7,9.5,2.1c17,7.6,34.1,15.2,51.1,22.9c18.3,8.2,36.6,16.5,54.9,24.8c1,0.5,2,1,3,1.5    c1.7,0.9,3.3,0.9,5.1,0.1c30.1-13.9,60.4-27.4,90.6-41c6.3-2.8,12.6-5.6,18.9-8.4c3.2-1.4,6.5-2.1,9.9-2c2.4,0.1,4.7,0.6,7,1.7    c11.3,5.4,22.6,10.6,33.9,15.9c0.7,0.3,1.4,0.6,2.1,1c3.6,2,5.5,5.1,5.7,9.2c0.4,8-3.8,13.5-9.6,16.1    c-50.8,23-101.6,46.1-152.5,69.2c-5.7,2.6-11.6,2.6-17.4,0c-50.8-23-101.6-46.2-152.5-69.2c-5.8-2.6-10.5-8.6-9.3-17.4    c0.5-4,3-6.7,6.6-8.4c6.8-3.2,13.5-6.3,20.3-9.5c4.9-2.3,9.8-4.5,14.6-6.9C130.2,317.4,132.8,316.9,135.6,316.9z">
                                                        </path>
                                                    </g>
                                                </g>
                                            </svg></div>
                                    </div>
                                    <ul>
                                        <% if (typeof categories!="undefined" ) { %>
                                            <% categories.forEach(el=> { %>
                                                <li>
                                                    <%= el.categorieName %></strong>
                                                </li>

                                                <% }) %>
                                                    <% } %>
                                    </ul>
                                </div>
                                <div class="card-desc-ui">
                                    <div class="top-sec">

                                        <div class="text">Produits</div>
                                        <div class="icon">
                                            <svg class="s10" enable-background="new 0 0 48 48" id="Layer_4"
                                                version="1.1" viewBox="0 0 48 48" xml:space="preserve"
                                                xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <g>
                                                    <polygon
                                                        points="26.068,24.846 26.068,47.987 45.285,38.04 45.285,14.898  ">
                                                    </polygon>
                                                    <polygon
                                                        points="2.715,36.078 21.872,47.987 21.872,24.71 2.715,13.069  ">
                                                    </polygon>
                                                    <path
                                                        d="M23.497,0.013L4.89,9.571c0.04-0.054,19.08,12.026,19.08,12.026L43.188,11.38L23.497,0.013z">
                                                    </path>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                    <ul>
                                        <% if (typeof products!="undefined" ) { %>
                                            <% products.forEach(el=> { %>
                                                <li>
                                                    <a href="">
                                                        <%= el.productName.split('-').join(' ') %></a>
                                    </li>
                            
                                    <% }) %>
                                        <% } %>
                            

                        </ul>

                    </div>

                    <div class="card-desc-ui">
                        <div class="top-sec">
                            <div class="text">marques</div>
                            <div class="icon"> <svg class="s10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve"> <g> <path d="M974.2,29.9c-5.5-15.4-22.9-23.6-38.8-18.2c-15.9,5.3-24.3,22.2-18.8,37.7c46.9,130.8-46.3,228.5-117.3,280.9l-28.8-39.9c-9.6-13.3-31.2-24.5-48-24.7l-161.1,0.7c-16.7-0.2-41.7,7.2-55.4,16.6L31.7,605.7c-23,15.6-28.6,46.4-12.5,68.7l215.7,299.3c16.1,22.3,41.9,19.6,64.9,4l474.5-322.8c13.7-9.4,29.4-29.6,35-45l50.4-154.2c5.5-15.4,2.2-38.9-7.5-52.3l-17.5-24.3C930.2,308.4,1029.2,183.1,974.2,29.9z M753.5,488.3c-36.8,25-87.5,16.3-113.2-19.4c-25.8-35.7-16.9-85,20-110c29.2-19.8,67.1-18.4,94.4,0.9c-13.7,8-23.2,12.6-24.9,13.5c-15.2,7-21.8,24.6-14.6,39.4c5.2,10.7,16.2,17,27.6,17c4.4,0,8.8-0.9,13-2.8c9.8-4.5,20.3-9.9,31.3-16.2C791.9,439.7,780,470.3,753.5,488.3z"> </path> </g> </svg> </div>
                        </div>
                        <ul>
                        <% if (typeof brands!="undefined" ) { %>
                            <% brands.forEach(el=> { %>
                                <ol>
                                    <span><%= el.brandName %></span>
                                    <img src="../<%= el.brandImage %> " alt="">
                                </ol>
                                                    
                            <% }) %>
                        <% } %>
                        </ul>
                    </div>
                </div>
            </section>
        </main>
        <script src="../javascript/closebtn.js"></script>
        <script src="../javascript/loader.js"></script>


</body>

</html>