<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/admin/loader.css">
    <link rel="stylesheet" href="/css/admin/ini.css">
    <link rel="stylesheet" href="/css/admin/inbox.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>commandes</title>
    <style>
        .inbox-sec {
            height: 88%;
        }
    </style>
</head>

<body>
    <%- include("../components/admin/loader.ejs") %>

        <%- include("../components/admin/nav.ejs",{acceuil:"",Categories:"",produits:"",settings:"",marques:"",commandes:"active"})
            %>
            <main>
                <%- include("../components/admin/header.ejs",{acceuil:"active",Categories:"",produits:"",settings:"",marques:"",commandes:""})
                    %>
                    <% if ( typeof msg !='undefined' ) { %>
                        <div class="alert <%= type %>">
                            <div class="msg">
                                <%= msg %>
                            </div>
                            <div class="close-btn">
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                        <% } %>

                            <div class="inbox-sec">
                                <div class="messages">

                                    <% if (typeof data !="undefined" ) { %>
                                        <% data.forEach(el=> { %>
                                            <div class="message" id="<%= el._id %>">
                                                <a href="/admin/commandes/<%= el._id %> ">
                                                    <div class="top-sec">
                                                        <div class="icon"><img
                                                                src="https://ui-avatars.com/api/?background=random&name=<%= el.fullName %>&format=svg&rounded=true"
                                                                alt="">
                                                        </div>
                                                        <div class="name">
                                                            <%= el.fullName %>
                                                        </div>
                                                    </div>
                                                    <div class="min-msg">
                                                        <%= el.objet %>
                                                    </div>
                                                    <div class=" bt-sc">
                                                </a>
                                                <div class="c-bt">
                                                    <input id="checkbox" type="checkbox" name="checkbox" />

                                                    <button class="btn"><i class="fa fa-inbox"></i></button>
                                                </div>
                                                <div class="dateTime">
                                                    <%= el.date %>
                                                </div>
                                            </div>
                                </div>
                                <% }) %>

                                    <% } %>


                            </div>
                            <div class="display-message">
                                <%- include("../components/admin/svg.ejs") %>

                            </div>
                            </div>
            </main>
            <script src="/javascript/closebtn.js"></script>
            <script src="/javascript/loader.js"></script>

</body>

</html>