<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/brands.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swissysteme Produits | <%= prod %> </title>

</head>

<body>
    <%- include('components/loader.ejs') %>
        <%- include('components/nav.ejs',{acceuil:"",produits:"active",catalogue:"",contact:""}) %>
            <section>
                <div class="nav-bar">
                    <h3>Les Marques de produit</h3>
                </div>
                <div class="cnt">
                    
                   <% brands.forEach(el => { %>
                    <div class="colum">
                        <div class="image">
                            <img src="/<%= el.brandImage %>" alt="">
                        </div>
                        <div class="brand-name"><%= el.brandName %></div>
                    </div>
                   <% }) %>
                </div>
            </section>

            <%- include('components/footer.ejs') %>
            <script src="/javascript/loader.js"></script>
            <script src="/javascript/nav.js"></script>
</body>


</html>