<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/loader.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/card.css">
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/app.js" type="image/icon type">
  <link rel="icon" href="/media/logo.svg" type="image/icon type">
  <title>Swissysteme Products | <%= Categorie.categorieName %>
  </title>
</head>

<body>
  <%- include('components/loader.ejs') %>
    <%- include('components/nav.ejs',{acceuil:"",produits:"active",catalogue:"",contact:""}) %>
      <section style="margin: 13em 0 5em 0;">
        <div class="top-head">
          <img src="/media/chat.svg" alt="">
          <div class="large-text">Marchés & clients</div>
          <div class="small-text">Nous fournissons des produits et des services qui dépassent les attentes de nos
            clients</div>
        </div>
        <div class="nav-b">
          <ul>
            <li>
                <img src="/media/<%= Categorie.categorieName %>.svg" alt="">
              <div class="text">
                <%= Categorie.categorieName %>
              </div>
            </li>
          </ul>
        </div>
        <div class="containers">
          
        <% if (Products.length !=0) { %>
          <% Products.forEach(el=> { %>
            <div class="box">
              <div class="imgBx">
                <img src="/<%= el.productImage %> " alt="">
              </div>
              <div class="card-footer">
                <a href="/produits/<%= Categorie.categorieName+"/"+el.productName %>">
                  <h3>
                    <%= el.productName.split('-').join(' ') %></h3>
                        </a>
                      </div>
                    </div>
                  <% }) %>
        <% } %>  

        <%  if (Products.length ==0) { %>
          <div class="empty">Aucun produit disponible pour cette catégorie revenez plus tard !!</div>
        <% } %>

  
        </div>
      </section>
      <%- include('components/footer.ejs') %>

        <script src="/javascript/loader.js"></script>
        <script src="/javascript/nav.js"></script>

        <script>

        </script>
</body>

</html>